In [1]:
from datetime import date, datetime
import pandas as pd
import geopandas
import numpy as np
from pathlib import Path
from yellowcab.preprocessing.feature_engineering import create_holiday_column
from yellowcab.preprocessing.feature_engineering import create_season_column

In [2]:
df = pd.read_parquet("/Users/ninaerlacher/Downloads/02.parquet")

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2020-02-01 00:17:35,2020-02-01 00:30:32,1.0,2.60,1.0,145,7,1.0,11.0,0.5,0.5,2.45,0.0,0.3,14.75,0.0
1,2020-02-01 00:32:47,2020-02-01 01:05:36,1.0,4.80,1.0,45,61,1.0,21.5,3.0,0.5,6.30,0.0,0.3,31.60,2.5
2,2020-02-01 00:31:44,2020-02-01 00:43:28,1.0,3.20,1.0,186,140,1.0,11.0,3.0,0.5,1.00,0.0,0.3,15.80,2.5
3,2020-02-01 00:07:35,2020-02-01 00:31:39,1.0,4.38,1.0,144,140,1.0,18.0,0.5,0.5,3.00,0.0,0.3,24.80,2.5
4,2020-02-01 00:51:43,2020-02-01 01:01:29,1.0,2.28,1.0,238,152,2.0,9.5,0.5,0.5,0.00,0.0,0.3,10.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250515,2020-02-29 23:08:41,2020-02-29 23:13:24,1.0,0.54,1.0,50,48,2.0,5.0,0.5,0.5,0.00,0.0,0.3,8.80,2.5
6250516,2020-02-29 23:30:49,2020-02-29 23:50:29,1.0,2.91,1.0,113,229,2.0,14.0,0.5,0.5,0.00,0.0,0.3,17.80,2.5
6250517,2020-02-29 23:22:08,2020-02-29 23:31:02,1.0,1.65,1.0,262,237,1.0,8.5,0.5,0.5,1.70,0.0,0.3,14.00,2.5
6250518,2020-02-29 23:47:04,2020-02-29 23:51:32,2.0,0.72,1.0,140,236,1.0,5.0,0.5,0.5,2.64,0.0,0.3,11.44,2.5
6250519,2020-02-29 23:37:30,2020-02-29 23:39:20,1.0,0.00,1.0,193,193,1.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0

In [3]:
df = create_holiday_column(df, 'tpep_pickup_datetime')

In [4]:
create_season_column(df, 'tpep_pickup_datetime')

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Holiday,Season
0,2020-02-01 00:17:35,2020-02-01 00:30:32,1.0,2.60,1.0,145,7,1.0,11.0,0.5,0.5,2.45,0.0,0.3,14.75,0.0,False,winter
1,2020-02-01 00:32:47,2020-02-01 01:05:36,1.0,4.80,1.0,45,61,1.0,21.5,3.0,0.5,6.30,0.0,0.3,31.60,2.5,False,winter
2,2020-02-01 00:31:44,2020-02-01 00:43:28,1.0,3.20,1.0,186,140,1.0,11.0,3.0,0.5,1.00,0.0,0.3,15.80,2.5,False,winter
3,2020-02-01 00:07:35,2020-02-01 00:31:39,1.0,4.38,1.0,144,140,1.0,18.0,0.5,0.5,3.00,0.0,0.3,24.80,2.5,False,winter
4,2020-02-01 00:51:43,2020-02-01 01:01:29,1.0,2.28,1.0,238,152,2.0,9.5,0.5,0.5,0.00,0.0,0.3,10.80,0.0,False,winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250515,2020-02-29 23:08:41,2020-02-29 23:13:24,1.0,0.54,1.0,50,48,2.0,5.0,0.5,0.5,0.00,0.0,0.3,8.80,2.5,False,winter
6250516,2020-02-29 23:30:49,2020-02-29 23:50:29,1.0,2.91,1.0,113,229,2.0,14.0,0.5,0.5,0.00,0.0,0.3,17.80,2.5,False,winter
6250517,2020-02-29 23:22:08,2020-02-29 23:31:02,1.0,1.65,1.0,262,237,1.0,8.5,0.5,0.5,1.70,0.0,0.3,14.00,2.5,False,winter
6250518,2020-02-29 23:47:04,2020-02-29 23:51:32,2.0,0.72,1.0,140,236,1.0,5.0,0.5,0.5,2.64,0.0,0.3,11.44,2.5,False,winter
6250519,2020-02-29 23:37:30,2020-02-29 23:39:20,1.0,0.00,1.0,193,193,1.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,False,winter