In [1]:
import yellowcab.cleaning

In [2]:
yellowcab.cleaning.clean_all_datasets()

"""for month in range(1,13):
    month_string = f'{month}'.zfill(2)
    print(f'Reading month {month}')
    df = yellowcab.io.read_parquet(f'{month_string}.parquet')
    print(f'Cleaning month {month}')
    df = yellowcab.cleaning.clean_all_datasets(df, month)
    print(f'Saving month {month}')
    yellowcab.io.write_parquet(df, f'{month_string}.parquet')"""

  0%|          | 0/12 [00:00<?, ?it/s]

Started cleaning the December data set
50607 invalid entries have been successfully dropped!
29 invalid date entries have been successfully dropped!
13382 invalid zone entries have been successfully dropped!
Outlier detection completed. Number of removed outlier: 169278

  8%|▊         | 1/12 [00:21<03:54, 21.34s/it]

Finished cleaning the December data set
Started cleaning the February data set
199409 invalid entries have been successfully dropped!
291 invalid date entries have been successfully dropped!
50727 invalid zone entries have been successfully dropped!
Outlier detection completed. Number of removed outlier: 496191

 17%|█▋        | 2/12 [02:08<11:58, 71.80s/it]

Finished cleaning the February data set
Started cleaning the March data set
103611 invalid entries have been successfully dropped!
421 invalid date entries have been successfully dropped!
24494 invalid zone entries have been successfully dropped!
Outlier detection completed. Number of removed outlier: 243017

 25%|██▌       | 3/12 [02:54<09:01, 60.15s/it]

Finished cleaning the March data set
Started cleaning the November data set
52441 invalid entries have been successfully dropped!
107 invalid date entries have been successfully dropped!
13297 invalid zone entries have been successfully dropped!
Outlier detection completed. Number of removed outlier: 181152

 33%|███▎      | 4/12 [03:13<05:51, 43.98s/it]

Finished cleaning the November data set
Started cleaning the January data set
196751 invalid entries have been successfully dropped!
205 invalid date entries have been successfully dropped!
55316 invalid zone entries have been successfully dropped!
Outlier detection completed. Number of removed outlier: 178525

 42%|████▏     | 5/12 [04:57<07:38, 65.49s/it]

Finished cleaning the January data set
Started cleaning the August data set
51582 invalid entries have been successfully dropped!
15 invalid date entries have been successfully dropped!
9215 invalid zone entries have been successfully dropped!
Outlier detection completed. Number of removed outlier: 34822

 50%|█████     | 6/12 [05:12<04:49, 48.20s/it]

Finished cleaning the August data set
Started cleaning the September data set
54302 invalid entries have been successfully dropped!
132 invalid date entries have been successfully dropped!
11352 invalid zone entries have been successfully dropped!
Outlier detection completed. Number of removed outlier: 162348

 58%|█████▊    | 7/12 [05:28<03:09, 37.90s/it]

Finished cleaning the September data set
Started cleaning the October data set
61418 invalid entries have been successfully dropped!
26 invalid date entries have been successfully dropped!
13789 invalid zone entries have been successfully dropped!
Outlier detection completed. Number of removed outlier: 113339

 67%|██████▋   | 8/12 [05:50<02:11, 32.84s/it]

Finished cleaning the October data set
Started cleaning the May data set
19779 invalid entries have been successfully dropped!
23 invalid date entries have been successfully dropped!
3157 invalid zone entries have been successfully dropped!
Outlier detection completed. Number of removed outlier: 30286

 75%|███████▌  | 9/12 [05:55<01:12, 24.15s/it]

Finished cleaning the May data set
Started cleaning the April data set
13099 invalid entries have been successfully dropped!
130 invalid date entries have been successfully dropped!
2249 invalid zone entries have been successfully dropped!
Outlier detection completed. Number of removed outlier: 25716

 83%|████████▎ | 10/12 [06:00<00:35, 17.99s/it]

Finished cleaning the April data set
Started cleaning the June data set
31171 invalid entries have been successfully dropped!
9 invalid date entries have been successfully dropped!
5663 invalid zone entries have been successfully dropped!
Outlier detection completed. Number of removed outlier: 68622

 92%|█████████▏| 11/12 [06:08<00:14, 14.95s/it]

Finished cleaning the June data set
Started cleaning the July data set
45798 invalid entries have been successfully dropped!
10 invalid date entries have been successfully dropped!
8771 invalid zone entries have been successfully dropped!
Outlier detection completed. Number of removed outlier: 77137

100%|██████████| 12/12 [06:18<00:00, 31.57s/it]

Finished cleaning the July data set

"for month in range(1,13):\n    month_string = f'{month}'.zfill(2)\n    print(f'Reading month {month}')\n    df = yellowcab.io.read_parquet(f'{month_string}.parquet')\n    print(f'Cleaning month {month}')\n    df = yellowcab.cleaning.clean_all_datasets(df, month)\n    print(f'Saving month {month}')\n    yellowcab.io.write_parquet(df, f'{month_string}.parquet')"

In [9]:
df = yellowcab.io.read_parquet("May_cleaned.parquet", relative_path="output")
df

,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,...,centers_lat_dropoff,centers_long_dropoff,trip_duration_minutes,pickup_month,pickup_day,pickup_hour,dropoff_month,dropoff_day,dropoff_hour,weekend
0,2020-05-01 00:07:10,2020-05-01 00:12:46,1.0,1.7,Standard rate,107,229,Cash,7.0,3.0,...,40.756728,-73.965146,5.600000,5,1,0,5,1,0,False
1,2020-05-01 00:09:46,2020-05-01 00:27:44,1.0,2.9,Standard rate,79,237,Cash,12.0,3.0,...,40.768615,-73.965634,17.966667,5,1,0,5,1,0,False
2,2020-05-01 00:22:48,2020-05-01 00:28:58,1.0,1.5,Standard rate,140,263,Credit card,7.0,3.0,...,40.778765,-73.951010,6.166667,5,1,0,5,1,0,False
3,2020-05-01 00:57:59,2020-05-01 01:07:48,1.0,2.0,Standard rate,140,230,Cash,9.0,3.0,...,40.759817,-73.984196,9.816667,5,1,0,5,1,1,False
4,2020-05-01 00:10:53,2020-05-01 00:14:17,1.0,0.5,Standard rate,239,239,Cash,4.5,3.0,...,40.783961,-73.978632,3.400000,5,1,0,5,1,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236402,2020-05-31 23:26:51,2020-05-31 23:41:12,1.0,6.1,Standard rate,79,75,Credit card,19.0,3.0,...,40.790010,-73.945750,14.350000,5,31,23,5,31,23,True
236403,2020-05-31 23:45:06,2020-05-31 23:53:56,1.0,2.6,Standard rate,75,168,Credit card,10.0,0.5,...,40.807347,-73.916822,8.833333,5,31,23,5,31,23,True
236404,2020-05-31 23:04:57,2020-05-31 23:11:16,1.0,1.0,Standard rate,41,74,Cash,6.5,0.5,...,40.801169,-73.937345,6.316667,5,31,23,5,31,23,True
236405,2020-05-31 23:20:00,2020-05-31 23:29:40,1.0,3.2,Standard rate,263,137,Cash,11.5,3.0,...,40.740438,-73.976495,9.666667,5,31,23,5,31,23,True
236406,2020-05-31 23:49:48,2020-05-31 23:51:29,1.0,0.5,Standard rate,75,74,Cash,4.0,0.5,...,40.801169,-73.937345,1.683333,5,31,23,5,31,23,True